<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="wrapper">

        <form>
            <label for='textbox'>To Do List</label>
            <input name='textbox' type='text' class='texting' />
        </form>
        <div id="button">Add Item</div>

        <div class="toList">
        </div>
        <!--toList-->

    </div>
    <!--wrapper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="script.js">
    </script>

</body>

</html>